@import '{}/client/styles/imports/layout.scss';
@import '{reywood:bootstrap3-sass}/bootstrap';

// @import '{}/client/styles/imports/foundation.scss';

.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;

  h3 {
    margin-top: 0;
    margin-bottom: 25px;
  }
}

button i {
  margin-right: 0.5em;
}

.action {
  padding: 0 10px;
}